page-statistics {
    ion-page {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .toolbar-md {
        text-align: center;
    }
    
    .fixedColumn {
        text-align: center;
        margin-top: 7em;
    }
    
    .iconText {
        font-size: 15em;
    }
    
    .qrText {
        color: #f09;
        font-size: 1.3em;
        font-weight: bold;
    }
}
